body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button {
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: #e2e2e2;
  border-radius: 5px;
  align-items: center;
}

button:hover{
  background-color: #f2f2f2 !important;
}

button:focus{
  background-color: #e2e2e2 !important;
}

.attendance-header {
  width: 100%;
  height: 150px;
  background: #fff;
  position: fixed;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.attendance-header__title {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #e2e2e2;
  padding: 0 70px 24px 24px;
  margin-bottom: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.attendance-header__searchbar {
  display: flex;
  align-items: center;
  padding: 0 24px;
  margin-bottom: 12px;
}

.attendance-header__search {
  flex-grow: 1;
  line-height: 32px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: #e2e2e2;
  border-radius: 5px;
  font-size: 18px;
  margin-right: 24px;
  padding-right: 12px;
}

.attendance-header__capacity {
  padding: 12px 0;
  font-size: 18px;
  display: none;
  margin-right: 24px;
}

.attendance-header__button-label {
  display: none;
}

.attendance-header__add_guest_button {
  height: 36px;
  width: 50px;
  font-size: 18px;
}

.attendance-header__add_guest_button::before {
  content: "\002B";
}

@media only screen and (min-width: 640px) {
  .attendance-header__capacity {
    display: block;
  }

  .attendance-header__button-label {
    display: inline;
  }

  .attendance-header__search {
    text-align: right;
  }

  .attendance-header__add_guest_button {
    width: 170px;
  }

  .attendance-header__add_guest_button::before {
    content: "";
  }
}

.attendance-progress-bar {
  text-align: left;
}

.attendance-progress-bar__container {
  width: 100%;
  height: 6px;
  background-color: #e2e2e2;
}

.attendance-progress-bar__bar {
  background-color: #85D262;
  height: 100%;
  -webkit-transition: width 2s;
  transition: width 2s;
  will-change: transform;
}

.attendance-guestlist {
  list-style-type: none;
  padding: 150px 0 0 0;
  margin: 0;
}

.attendance-guest {
  width: 100%;
  border-width: 0 0 2px 0;
  border-radius: 0;
  height: 70px;
  padding: 0 24px;
  display: flex;
}

.attendance-guest__avatar-container {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.attendance-guest__avatar {
  width: 100%;
  height: 100%;
}

.attendance-guest__name {
  flex-grow: 1;
  font-size: 20px;
  text-transform: capitalize;
}

.attendance-guest__confirmation-container {
  width: 40px;
  height: 30px;
}

.attendance-guest__confirmation {
  width: 100%;
  height: 100%;
  display: none;
}

.attendance-guest.has-arrived {
  background-color: #d6e6ff;
}

.attendance-guest.has-arrived:hover {
  background-color: #e5efff;
}

.attendance-guest.has-arrived .attendance-guest__confirmation {
  display: block;
}

.attendance-menu {
  position: absolute;
  top: 20px;
  right: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.attendance-menu__button {
  background: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
}

.attendance-menu__icon {
  width: 100%;
}

.attendance-menu__contents {
  display: none;
  width: 200px;
  height: 120px;
  border-width: 1px;
  border-style: solid;
  border-color: #e2e2e2;
  border-radius: 5px;
}

.attendance-menu__contents.display-contents {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  background-color: #fff;
}

.attendance-menu__contents button {
  background: 0;
  flex-grow: 1;
  font-size: 16px;
  border-radius: 0;
  border-width: 0 0 1px 0;
}






































