.attendance-guest {
  background-color: $color-white;
  width: 100%;
  height: 70px;
  padding-left: $single-spacing;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $color-mid-grey;

  &.has-arrived {
    background-color: $color-light-grey;

    .attendance-guest__confirmation {
      display: block;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}

.attendance-guest__check-in {
  height: 100%;

  .attendance-guest__check-in-button {
    @include meetupButton;

    color: $color-white;
    height: 100%;
    font-size: 1.25em;
    padding: 0 $single-spacing;

    &.has-arrived {
      background-color: $color-light-grey;
      color: $button-focus-color;
    }
  }

  .attendance-guest__name-status {
    text-transform: uppercase;
    color: inherit;
  }

}

.attendance-guest__details {
  flex: 2 1 auto;
  padding-left: $single-spacing;
}

.attendance-guest__avatar-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.attendance-guest__avatar {
  width: 100%;
  height: 100%;
}

.attendance-guest__name {
  flex-grow: 1;
  font-size: $large-font-size;
  text-transform: capitalize;
}

.attendance-guest__name-status {
  color: $guest-grey;
}

.attendance-guest__confirmation-container {
  width: 26px;
  height: 20px;
}

.attendance-guest__confirmation {
  width: 100%;
  height: 100%;
  display: none;
}
