.attendance-header {
  width: 100%;
  height: $header-height;
  background-color: $button-background-color;
  position: fixed;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.attendance-header__title {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: $button-outline-color;
  padding: 0 70px $double-spacing $double-spacing;
  margin-bottom: $single-spacing;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 60px;
}

.attendance-header__searchbar {
  display: flex;
  align-items: center;
  padding: 0 $double-spacing;
  margin-bottom: $single-spacing;
}

.attendance-header__search {
  height: 46px;
  flex-grow: 1;
  line-height: 48px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: $button-outline-color;
  border-radius: 5px;
  font-size: $large-font-size;
  margin-right: $double-spacing;

  @include tableOrLarger {
    text-align: left;
    padding-left: $single-spacing;
  }
}

.attendance-header__capacity {
  padding: $single-spacing 0;
  font-size: $large-font-size;
  display: none;
  margin-right: $double-spacing;

  @include tableOrLarger {
    display: block;
  }
}

.attendance-header__button-label {
  display: none;

  @include tableOrLarger {
    display: inline;
  }
}

.attendance-header__add_guest_button {
  @include meetupButton;

  height: 50px;
  width: 50px;
  font-size: $large-font-size;

  &:before {
    content: "\002B";
  }

  @include tableOrLarger {
    width: 420px;

    &:before {
      content: "";
    }
  }
}
