.attendance-guest {
  background-color: #fff;
  width: 100%;
  height: 70px;
  padding-left: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f2edee; }
  .attendance-guest.has-arrived {
    background-color: #f7f7f7; }
    .attendance-guest.has-arrived .attendance-guest__confirmation {
      display: block; }
    .attendance-guest.has-arrived:hover {
      opacity: 0.7; }

.attendance-guest__check-in {
  height: 100%; }
  .attendance-guest__check-in .attendance-guest__check-in-button {
    cursor: pointer;
    border: 0;
    align-items: center;
    background-color: #0ea800;
    height: 100%;
    color: #cccccc;
    color: #fff;
    height: 100%;
    font-size: 1.25em;
    padding: 0 12px; }
    .attendance-guest__check-in .attendance-guest__check-in-button:hover {
      filter: brightness(85%);
      color: #fff; }
    .attendance-guest__check-in .attendance-guest__check-in-button:focus {
      background-color: #e2e2e2; }
    .attendance-guest__check-in .attendance-guest__check-in-button.has-arrived {
      background-color: #f7f7f7;
      color: #e2e2e2; }
  .attendance-guest__check-in .attendance-guest__name-status {
    text-transform: uppercase;
    color: inherit; }

.attendance-guest__details {
  flex: 2 1 auto;
  padding-left: 12px; }

.attendance-guest__avatar-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden; }

.attendance-guest__avatar {
  width: 100%;
  height: 100%; }

.attendance-guest__name {
  flex-grow: 1;
  font-size: 22px;
  text-transform: capitalize; }

.attendance-guest__name-status {
  color: #686868; }

.attendance-guest__confirmation {
  width: 100%;
  height: 100%;
  display: none; }

.attendance-guestlist {
  list-style-type: none;
  padding: 186px 0 0 0;
  margin: 0 auto;
  max-width: 600px; }

.attendance-header {
  width: 100%;
  height: 186px;
  background-color: #fff;
  position: fixed;
  text-align: center;
  display: flex;
  flex-direction: column; }

.attendance-header__title {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #cccccc;
  padding: 0 70px 24px 24px;
  margin-bottom: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 60px; }

.attendance-header__searchbar {
  display: flex;
  align-items: center;
  padding: 0 24px;
  margin-bottom: 12px; }

.attendance-header__search {
  height: 46px;
  flex-grow: 1;
  line-height: 48px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
  border-radius: 5px;
  font-size: 22px;
  margin-right: 24px; }
  @media only screen and (min-width: 640px) {
    .attendance-header__search {
      text-align: left;
      padding-left: 12px; } }

.attendance-header__capacity {
  padding: 12px 0;
  font-size: 22px;
  display: none;
  margin-right: 24px; }
  @media only screen and (min-width: 640px) {
    .attendance-header__capacity {
      display: block; } }

.attendance-header__button-label {
  display: none; }
  @media only screen and (min-width: 640px) {
    .attendance-header__button-label {
      display: inline; } }

.attendance-header__add_guest_button {
  cursor: pointer;
  border: 0;
  align-items: center;
  background-color: #0ea800;
  height: 100%;
  color: #cccccc;
  color: #fff;
  height: 50px;
  width: 50px;
  font-size: 22px; }
  .attendance-header__add_guest_button:hover {
    filter: brightness(85%);
    color: #fff; }
  .attendance-header__add_guest_button:focus {
    background-color: #e2e2e2; }
  .attendance-header__add_guest_button:before {
    content: "\002B"; }
  @media only screen and (min-width: 640px) {
    .attendance-header__add_guest_button {
      width: 420px; }
      .attendance-header__add_guest_button:before {
        content: ""; } }

.attendance-menu {
  position: absolute;
  top: 20px;
  right: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.attendance-menu__button {
  cursor: pointer;
  border: 0;
  align-items: center;
  background-color: #0ea800;
  height: 100%;
  color: #cccccc;
  background: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center; }
  .attendance-menu__button:hover {
    filter: brightness(85%);
    color: #fff; }
  .attendance-menu__button:focus {
    background-color: #e2e2e2; }

.attendance-menu__icon {
  width: 100%; }

.attendance-menu__contents {
  display: none;
  width: 200px;
  height: 120px;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
  border-radius: 5px; }
  .attendance-menu__contents.display-contents {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    background-color: #fff; }
  .attendance-menu__contents button {
    cursor: pointer;
    border: 0;
    align-items: center;
    background-color: #0ea800;
    height: 100%;
    color: #cccccc;
    background: 0;
    flex-grow: 1;
    font-size: 16px;
    border-radius: 0;
    border-width: 0 0 1px 0; }
    .attendance-menu__contents button:hover {
      filter: brightness(85%);
      color: #fff; }
    .attendance-menu__contents button:focus {
      background-color: #e2e2e2; }

.attendance-progress-bar {
  text-align: left; }

.attendance-progress-bar__container {
  width: 100%;
  height: 6px;
  background-color: #e2e2e2; }

.attendance-progress-bar__bar {
  background-color: #85D262;
  height: 100%;
  transition: width 0.5s;
  will-change: transform; }

.attendance-guest__contact {
  padding: 24px;
  background-color: #fafafa;
  width: 94%; }

.attendance-guest__contact-details {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.attendance-guest__contact-option {
  flex: 2 1 auto; }

.attendance-guest__contact-detail-input {
  margin: 12px 0;
  padding: 12px;
  width: 80%; }

.attendance-guest__contact-button {
  cursor: pointer;
  border: 0;
  align-items: center;
  background-color: #0ea800;
  height: 100%;
  color: #cccccc;
  color: #fff;
  margin-bottom: 12px;
  padding: 12px;
  align-self: flex-end; }
  .attendance-guest__contact-button:hover {
    filter: brightness(85%);
    color: #fff; }
  .attendance-guest__contact-button:focus {
    background-color: #e2e2e2; }

body {
  background-color: #f7f7f7;
  font-family: sans-serif;
  margin: 0;
  padding: 0; }
