$button-background-color: #fff;
$button-hover-color: #f2f2f2;
$button-focus-color: #e2e2e2;
$button-outline-color: #cccccc;
$progress-bar-green: #85D262;
$guest-arrived-blue: #d6e6ff;
$guest-hover-blue: #e5efff;
$guest-grey: #686868;
$button-font-color: #000;

$highlight-color-green: #0ea800;
$color-light-grey: #f7f7f7;
$color-mid-grey: #f2edee;
$color-white: #fff;

$single-spacing: 12px;
$double-spacing: 24px;

$small-font-size: 16px;
$medium-font-size: 18px;
$large-font-size: 22px;

$header-height: 186px;

$width-list: 600px;

@mixin tableOrLarger {
  @media only screen and (min-width: 640px) {
    @content;
  }
}

@mixin meetupButton {
  cursor: pointer;
  border: 0;
  align-items: center;
  background-color: $highlight-color-green;
  height: 100%;
  color: $button-outline-color;

  &:hover{
    filter: brightness(85%);
    color: $color-white;
  }

  &:focus{
    background-color: $button-focus-color;
  }
}
