@import 'variables';
@import 'components/guest';
@import 'components/guestlist';
@import 'components/header';
@import 'components/menu';
@import 'components/progress-bar';
@import 'components/contact';

body {
  background-color: $color-light-grey;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
